*{padding:0px;
margin:0px;
text-decoration: none;
box-sizing: border-box;
font-family:'Roboto', sans-serif;}
.home{height:100vh;
width:100vw;
background-image:url("./project/header.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position: center;
}
#logo img{width:170px;
    height:160px;
    padding-left:-122px;
    padding-right:-190px;
    padding-top:20px;
    padding-bottom:0px;
    margin:auto;}
    .header{
 display:flex;
justify-content:space-between;


}
nav ul{padding-right:360px;
padding-top:65px;}

nav ul li{display:inline-block;
    padding-left:4px ;
    padding-right:4px ;
}
nav ul li a{ color:#015846;
    text-transform:uppercase;
    text-decoration:none;
    padding:8px;
    margin:auto;
font-size:22px;
font-weight:bold;
font-style: normal;
}
nav ul li a i{ color:darkorange;}
.header nav ul li a:hover{ color:rgb(0, 251, 0);}
nav ul li::after{content:'';
    width:0px;
    height:4px;
    display:block;
    background-color: darkred; 
    margin:auto;
    transition:2s;}
    nav ul li:hover::after{
        width:90px;
    }
    #login{ border:2px solid black;
        color:#220322;
        background-color:darkorange;
       margin-top:-10px;
       margin-right:-320px;
       float:right;
       padding:8px 14px;
       border-radius:44px;
       font-size:16px;
       text-transform:uppercase;
       text-decoration:none;
       font-weight:bold;
       }
       #login:hover{color:#43f84c;
    background-color:#004e16;}
#text{margin-left:0px;
    padding-top:180px;

}
#text h1{font-size:38px;
font-weight:bold;
font-family:arial;
color:#02211f}
#text h2{ font-size:56px;
font-weight:bolder;}
#text h2 span{ color:#09733e;
    font-size:65px;
     font-weight:bolder;}
    #text h3{ font-size:40px;
    font-weight:bold;
font-family:roboto;
color:hsl(116, 94%, 7%);}
#auto{font-size:65px;
font-weight:bold; 
color:darkorange;
text-shadow:8px 4px black;
margin:auto;}
#ambee{align-items:flex-start;
    justify-content:space-evenly;}
    #ambee a i {font-size:50px;
    padding:8px;
    border:1px solid green;
    border-radius:12px;
    background-color:rgb(192, 0, 80);
    color:rgb(252, 255, 81);
    transition:0.5s;
    cursor:pointer;}
    #ambee a i:hover{color:darkgreen;
    background-color:hsl(103, 86%, 51%);
    font-size:35px;} 
     nav i{display:none;}
    
    
    
    #hire{font-size: 24px;
        font-weight:bolder;
        background-color: gold;
        padding:5px;
        margin:auto;
        border:1px solid white;
        border-radius:23px;
        color:darkred;
         
    }
    #hire:hover{color:hsl(103, 86%, 51%);
    background-color: darkmagenta;}
    #cv a{border:2px solid green;
        width:fit-content;
        float:right;
        margin-right:-174px;
        margin-top:-36px;
        padding:4px;
        font-size:16px;
        border-radius:4px;
        color:rgb(255, 255, 255);
        background-color:magenta;}
        #cv a:hover{color:#43f84c;
            background-color:#fdfdfd;}
            #menu {display:none;
                float:right;
                font-size:30px;
                margin-right:110px;
                margin-top:40px;}  

    @media screen and (max-width:720px){
        #text{
            margin-top:-6px;
            margin-left:-140px;
    }
    #text h1{font-size:28px;
        margin-left:-176px;
        font-weight:bold;
        font-family:arial;
        color:#02211f}
        #text h2{ font-size:35px;
            font-weight:bolder;}
            #text h2 span{ color:#09733e;
                font-size:42px;
                 font-weight:bolder;}
                 #text h3{ font-size:26px;
                    font-weight:bold;
                font-family:roboto;
                color:hsl(120, 28%, 5%);}
                #auto{font-size:38px;
                    font-weight:bold; 
                    color:darkorange;
                    margin:auto;}
                    #ambee a i {font-size:30px;
                        padding:8px;
                        border:1px solid green;
                        border-radius:12px;
                        background-color:rgb(192, 0, 80);
                        color:rgb(252, 255, 81);
                        transition:0.5s;
                        cursor:pointer;}
                        #ambee{margin-left:-145px;
                        margin-top:35px;}
                        #hire{font-size: 24px;
                            font-weight:bolder;
                            background-color: gold;
                            padding:5px;
                            margin-left:-140px;
                            margin-top:30px;
                            border:1px solid white;
                            border-radius:23px;
                            color:darkred;
                             
                        }
                        #cv a{border:2px solid green;
                            width:fit-content;
                            float:left;
                            margin-left:-140px;
                            margin-top:364px;
                            padding:4px;
                            font-size:16px;
                            border-radius:4px;
                            color:rgb(255, 255, 255);
                            background-color:magenta;}
                            nav ul{margin-left:-20px;
                                padding-top:0px;}
                                #login{ border:2px solid black;
                                    color:#220322;
                                    background-color:darkorange;
                                   margin-left:30px;
                                   margin-right:-94px;
                                   text-justify: auto;
                                   margin-top:8px;
                                   padding:6px 10px;
                                   border-radius:44px;
                                   font-size:12px;
                                   text-transform:uppercase;
                                   text-decoration:none;
                                   font-weight:bold;
                                   }
                                   nav ul{background-color:rgb(246, 249, 251);
                               width:44px;
                               height:62vh;
                               display:none;
                                }
                                nav ul li a{font-size:20px;}
                                #menu {display:block;
                                

                              
                               
                       

                        }
                    }
      
   
/*......about section...*/

.about{background-color:#010810;
    background-position:center;
    background-repeat:none;
    background-size:cover;
    height:100vh;
    width:100vw;
    color:white;}
.about{padding:0px; margin:0px;}
 .about img{height:90vh;
    margin:0px;
    padding:0px;
    border: 2px solid #43f84c;
    
width:34vw;
transition:0.6s;
float:left;
margin:auto;

}
.about img:hover{width:36vw;
height:92vh;}
.about h1{ text-align:center;
font-size:34px;
padding:8px;
margin:6x;}
.mine {padding-left:520px;
padding-right:110px;}
.mine h2{font-size: 28px;
    padding:0px;
font-weight:bold;}
.mine h3{font-size:18px;
    padding:2;
font-weight:bold;}
.mine h4{font-size: 14px;
    padding:2px;
font-weight:bold;}
.mine h5{font-size:10px;
    padding:2px;
font-weight:bold;}
.mine p{color:#004e16;
font-size:22px;
font-family: 'Courgette', cursive;
padding-top:22px;
margin:25px;
padding-right:18px;
opacity:0px;

}
@media all and (max-width:720px){
    .about h1{ text-align:center;
        font-size:24px;
        padding:4px;
        margin:0px;}
        .mine {padding:8px 16px;
            margin:auto;
            }
            .mine h2{font-size: 15px;
                padding:0px;
            font-weight:bold;}
            .mine h3{font-size:12px;
                padding:2;
            font-weight:bold;}
            .mine h4{font-size: 9px;
                padding:2px;
            font-weight:bold;}
            .mine h5{font-size:14px;
                padding:2px;
            font-weight:bold;}
            .mine p{color:#004e16;
            font-size:10px;
            font-family: 'Courgette', cursive;
            padding-top:2px;
            margin:10px;
            padding-right:8px;
            opacity:0px;
            
            }

}


/*....education....*/
.education{height:100vh;
    width:100vw;
    background-size:cover ;
    background-position: center;
    background-color:#0b0a14;}
#etop{text-align:center;
    font-size:34px;
    padding:6px 0px;
    margin:auto;
color:aliceblue;}
    #epoti img{
        width:100vw;
        height:50vh;
        padding-top:4px;
        padding:4px;
    }
    .edu{text-align:center;
        display:inline-flex;
    color:antiquewhite;
    justify-content:space-between;
    padding-top:30px;
    padding-left:55px;
    
    
    
    }
    .edu li{
        list-style-type:none;
    
    }
    .edu li h6{font-size:64px;
    color:#0d2e04;}
@media screen and (max-width:720px){
    
    #epoti img{
        width:100vw;
        height:18vh;
        margin-top:-16px;
        padding:2px 4px;
    }
    #etop{text-align:center;
        font-size:34px;
        padding:2px 0px;
        margin:auto;
    color:aliceblue;}
        
            
            
            .edu li h6{font-size:22px;}
            .edu li h1{font-size:88px;}
            .edu li h2{font-size:8px;}
            .edu li h3{font-size:7px;}
            .edu li h4{font-size:7px;}
            .edu li h5{font-size:9px;}
            .edu.edu{text-align:center;
                display:inline-flex;
            color:antiquewhite;
            justify-content:space-between;
            padding-top:5px;
            padding-left:24px;
            
            
            
            
            }
        
}





/*........skills....*/
.skills{
    height:100vh;
    width:100vw;
    background-color:hsl(316, 100%, 2%)
    ;
    background-position: center;
    background-size: cover;
    color:cornsilk;
}
#sky{text-align:center;
padding:8px;
font-size:34px;
font-weight: bold;}
.stati{display:flex;
    justify-content:space-between;
}




.stati{
    display:flex;
    justify-content: space-evenly;
    float:left;
}
.stati li{display:inline-block;
font-size:20px;
padding-left:40px;
padding-right:25px;
padding-bottom:0px;}
#html::before{content:'';
    background-color:rgb(2, 95, 2);
        display:block;
        height:85vh;
        width:70px;}
        #css::before{content:'';
            background-color:rgb(13, 195, 13);
                display:block;
                height:74vh;
                width:70px;}
                #javascript::before{content:'';
                    background-color:rgb(95, 255, 95);
                        display:block;
                        height:61vh;
                        width:70px;}
                        #Jquerry::before{content:'';
                            background-color:rgb(199, 241, 103);
                                display:block;
                                height:57vh;
                                width:70px;}
                                  
                                #bootstrap::before{content:'';
                                    background-color:hsl(39, 84%, 68%);
                                        display:block;
                                        height:44vh;
                                        width:70px;}
                                        #sql::before{content:'';
                                            background-color:rgb(204, 141, 15);
                                                display:block;
                                                height:40vh;
                                                width:70px;}
                                                #Php::before{content:'';
                                                    background-color:#e43112e5;
                                                        display:block;
                                                        height:31vh;
                                                        width:70px;
                                                    padding:0px;
                                                margin:auto;}
                                                        #angularjs::before{content:'';
                                                            background-color:#a11303;
                                                                display:block;
                                                                height:18vh;
                                                                width:70px;}
                                                                #other::before{content:'';
                                                                    background-color:rgb(148, 3, 3);
                                                                        display:block;
                                                                        height:8vh;width:70px;}
 @media screen and (max-width:720px){
    .stati{
        display:flex;
        justify-content: space-evenly;
        float:left;
    }  
    .stati ul li{display:inline-block;
        font-size:8px;
        padding-left:2px;
        padding-right:2px;
        padding-bottom:0px;}

 }
                                                       
 /*.....interest...*/
        .interest{height:100vh;
        width:100vw;
    background-color: rgb(236, 240, 241);
    color:#00115c;
background-size:cover;
background-position:center;}
.topinter{text-align:center;
padding:12px;
font-size:30px;
font-weight:bolder;}
img{width:32vw;
height:39vh;}



.a{display:flex;
justify-content:space-between;}
.b{display:flex;
    justify-content:space-between;}
    .b h1 img{padding:2px;
        
    border-radius:14px;}
    .a h1 img{padding:2px;
        
        border-radius:14px;}
     

/*.....contact....*/
.contact{width:100vw;
height:100vh;
background-color:hwb(244 0% 94%);
background-size:cover;
background-position:center;
color:ivory;}
#contop{text-align:center;
font-size:30px;
font-weight:bolder;
padding:14px;
margin:auto;
}
#comment form textarea{width:48vw;
    height:40vh;
    color:#43f84c;
    font-size:24px;
    float:left;
    background-color: #030805;
    }
    #comment form{margin-left:110px;
    margin-top:40px;}
    #comment form input{font-size:28px;
        margin-top:300px;
        margin-left:-120px;
background-color:hsl(112, 100%, 50%);
color:white;
padding:4px;}
.hello{float:right;
    margin-right:110px;
    margin-top:140px;
    
    }
    .hello h1{padding-top:50px;}
    
    
    .fa-phone{color:green;
         font-size: 28px;
        transition:1s;}
        .notext{text-align:center;
            background-color: #0b0a14;
            color:antiquewhite;
        height: max-content;}
        @media  screen and (max-width:720px){
            .hello{float:right;
                margin-right:30px;
                margin-top:80px;
        font-size:8px;}
            .hello h2{font-size:10px;
            padding-top:14px;}
                #comment{margin-left:-100px;
                   
                    }
                    #comment form textarea{width:36vw;
                        height:34vh;
                        color:#43f84c;
                        font-size:14px;
                        float:left;
                        background-color: #030805;
                        }
                        #comment form input{font-size:18px;
                            margin-top:235px;
                            margin-left:-120px;
                    background-color:hsl(120, 96%, 50%);
                    color:white;
                    padding:4px;}
                    .notext h1{font-size:14px;}
                    .notext h2{font-size:10px;}
        }
        /*....family...*/
        .family{background-color: rgb(255, 255, 255);
        background-position:center;
    background-size: cover;
height:100vh;
width:100vw;}
#familly{text-align:center;
    font-size:34px;
    
color:forestgreen;
font-family: sans-serif;
font-weight:bold;
text-transform:uppercase;
padding:6px 0px;}
.parent img{
    width:54vw;
    height:50vh;
    float:left;
    padding:4px;
    border-radius:12px;
}
.sister img{ height:50vh;
    border-radius:12px;
width:42vw;}
.member{display:flex;
justify-content:space-evenly;

}
.member h1 img{ width:24vw;
    border-radius:12px;
height:40vh;}
    @media screen and (max-width:720px)
    {
        .parent img{
            width:50vw;
            height:40vh;
            float:left;
            padding:4px;
        }
        .sister img{ height:40vh;
            width:42vw;}
        
        .member h1 img{ width:24vw;
        height:32vh;}
    
        }
   











    































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    9+
color:bisque;
padding:14px;
font-size:30px;
font-weight: bold;}
#epoto img{height:50vh;
width:100vw; 
padding:4px;

}
@media screen and (max-width:500px){
    .edu{text-align:center;
        display:inline-flex;
    color:antiquewhite;
    justify-content:space-between;
    padding-top:22px;
    padding-left:70px;
    
    
    ;
    
    }
    .edu li{
        list-style-type:none;
        display:
    }
    .edu li h6{font-size:30px;
    color:#05624d;}
    #etop{text-align:center;
    
    color:bisque;
    padding:14px;
    font-size:30px;
    font-weight: bold;}
    #epoto img{height:24vh;
    width:100vw; 
    padding:2px;
    
    }
    .edu li h1{font-size:18px;}
    .edu li h2{font-size:14px;}
    .edu li h3{font-size:10px;}
    .edu li h4{font-size:8px;}
}
/*........skills....*/
.skills{
    height:100vh;
    width:100vw;
    background-color:hsl(316, 100%, 2%)
    ;
    background-position: center;
    background-size: cover;
    color:cornsilk;
}
#sky{text-align:center;
padding:8px;
font-size:34px;
font-weight: bold;}
.stati{display:flex;
    justify-content:space-between;
}




.stati{
    display:flex;
    justify-content: space-evenly;
    float:left;
}
.stati li{display:inline-block;
font-size:20px;
padding-left:40px;
padding-right:25px;
padding-bottom:0px;}
#html::before{content:'';
    background-color:rgb(2, 95, 2);
        display:block;
        height:85vh;
        width:70px;}
        #css::before{content:'';
            background-color:rgb(13, 195, 13);
                display:block;
                height:74vh;
                width:70px;}
                #javascript::before{content:'';
                    background-color:rgb(95, 255, 95);
                        display:block;
                        height:61vh;
                        width:70px;}
                        #Jquerry::before{content:'';
                            background-color:rgb(199, 241, 103);
                                display:block;
                                height:57vh;
                                width:70px;}
                                  
                                #bootstrap::before{content:'';
                                    background-color:hsl(39, 84%, 68%);
                                        display:block;
                                        height:44vh;
                                        width:70px;}
                                        #sql::before{content:'';
                                            background-color:rgb(204, 141, 15);
                                                display:block;
                                                height:40vh;
                                                width:70px;}
                                                #Php::before{content:'';
                                                    background-color:#e43112e5;
                                                        display:block;
                                                        height:31vh;
                                                        width:70px;
                                                    padding:0px;
                                                margin:auto;}
                                                        #angularjs::before{content:'';
                                                            background-color:#a11303;
                                                                display:block;
                                                                height:18vh;
                                                                width:70px;}
                                                                #other::before{content:'';
                                                                    background-color:rgb(148, 3, 3);
                                                                        display:block;
                                                                        height:8vh;width:70px;}
                                                                        

   @media screen and (max-width:500px){
    #sky{text-align:center;
    padding:8px;
    font-size:34px;
    font-weight: bold;}
    .stati{display:flex;
        justify-content:space-between;
    }
    
    
    
    
    .stati{
        display:flex;
        justify-content: space-between;
        float:left;
    }
    .stati li{display:inline-block;
    font-size:20px;
    padding-left:4px;
    padding-right:5px;
    padding-bottom:0px;}
    #html::before{content:'';
        background-color:rgb(2, 95, 2);
            display:block;
            height:85vh;
            width:17px;}
            #css::before{content:'';
                background-color:rgb(13, 195, 13);
                    display:block;
                    height:74vh;
                    width:17px;}
                    #javascript::before{content:'';
                        background-color:rgb(95, 255, 95);
                            display:block;
                            height:61vh;
                            width:17px;}
                            #Jquerry::before{content:'';
                                background-color:rgb(199, 241, 103);
                                    display:block;
                                    height:57vh;
                                    width:17px;}
                                      
                                    #bootstrap::before{content:'';
                                        background-color:hsl(39, 84%, 68%);
                                            display:block;
                                            height:44vh;
                                            width:17px;}
                                            #sql::before{content:'';
                                                background-color:rgb(204, 141, 15);
                                                    display:block;
                                                    height:40vh;
                                                    width:17px;}
                                                    #Php::before{content:'';
                                                        background-color:#e43112e5;
                                                            display:block;
                                                            height:31vh;
                                                            width:17px;
                                                        padding:0px;
                                                    margin:auto;}
                                                            #angularjs::before{content:'';
                                                                background-color:#a11303;
                                                                    display:block;
                                                                    height:18vh;
                                                                    width:17px;}
                                                                    #other::before{content:'';
                                                                        background-color:rgb(148, 3, 3);
                                                                            display:block;
                                                                            height:8vh;
                                                                            width:17px;}
                                                                .stati ul li p{font-size:8px;}
                                                                            












   }                                                                     
 /*.....interest...*/
        .interest{height:100vh;
        width:100vw;
    background-color: rgb(236, 240, 241);
    color:#00115c;
background-size:cover;
background-position:center;}
.topinter{text-align:center;
padding:12px;
font-size:24px;
font-weight:bolder;}
img{width:32vw;
height:39vh;}



.a{display:flex;
justify-content:space-between;}
.b{display:flex;
    justify-content:space-between;}
    .b h1 img{padding:2px;
        
    border-radius:14px;}
    .a h1 img{padding:2px;
        
        border-radius:14px;}
        @media screen and (max-width:500px){
            img{width:30vw;
                height:28vh;
                margin-top:50px;
            }
                
                
                
                .a{display:flex;
                justify-content:space-between;}
                .b{display:flex;
                    justify-content:space-between;}
                    .b h1 img{padding:0px;
                        
                    border-radius:14px;}
                    .a h1 img{padding:0px;
                        
                        border-radius:14px;}

        }
    

/*.....contact....*/
.contact{width:100vw;
height:100vh;
background-color:hwb(244 0% 94%);
background-size:cover;
background-position:center;
color:ivory;}
#contop{text-align:center;
font-size:30px;
font-weight:bolder;
padding:14px;
margin:auto;
}
.socail{display:flex;
    padding-top:70px;
justify-content: space-evenly;}
.fa-brands{color:rgb(30, 203, 212);
font-size:35px;}
.fa-envelope{color:hsl(320, 98%, 34%);
    font-size:35px;}
.media{display:flex;
    padding-top:60px;
    justify-content: space-evenly;}
    .comment textarea{ width:52vw;
        font-size:24px;
        font-weight: bolder;
        background-color: rgb(1, 1, 13);
        color:rgb(2, 153, 40);
        
    height:38vh;}
    .comment textarea:hover{color:rgb(45, 245, 45); 
    font-size:22px;
font-weight:bolder;
font-family:sans-serif;}
.comment{padding-left:40px;
padding-top:110px;} 
.phone{float:right;
margin-right:220px;
margin-top:140px;

}
.phone h1{padding-top:50px;}
#send{font-size:25px;
    font-weight: bold;
    margin-left:720px;
    border:2px solid rgb(147, 238, 243);
    border-radius:6px;
    background-color: rgba(6, 173, 0, 0.974);
    padding:2px;
    transition:0.6s;
    
}
#send:hover{font-size:30px;}
.fa-phone{color:green;
     font-size: 28px;
    transition:1s;}

.botext{text-align:center;
background-color: #0b0a14;
color:antiquewhite;}
.phone h2{padding:12px;
    transition:1s;
}
.phone h2:hover{ width:34px;
color:hsl(103, 86%, 51%);}
.fa-phone:hover{color:green;
    font-size: 34px;}
    @media screen and (max-width:500px){
        .socail{display:flex;
            padding-top:60px;
        justify-content: space-evenly;}
        .fa-brands{color:rgb(30, 203, 212);
        font-size:10px;}
         h1{font-size:8px;
        text-align:center;}
        .fa-envelope{color:hsl(320, 98%, 34%);
            font-size:10px;}
        .media{display:flex;
            padding-top:50px;
            justify-content: space-evenly;}
            .comment textarea{ width:45vw;
                font-size:14px;
                font-weight: bolder;
                background-color: rgb(1, 1, 13);
                color:rgb(2, 153, 40);
                
            height:25vh;}
            .comment textarea:hover{color:rgb(45, 245, 45); 
            font-size:16px;
        font-weight:bolder;
        font-family:sans-serif;}
        .comment{padding-left:40px;
        padding-top:110px;} 
        .phone{float:right;
        margin-right:65px;
        margin-top:100px;
        
        }
        .phone h1{padding-top:40px;}
        #send{font-size:15px;
            font-weight: bold;
            margin-left:200px;
            border:2px solid rgb(147, 238, 243);
            border-radius:6px;
            background-color: rgba(6, 173, 0, 0.974);
            padding:2px;
            transition:0.6s;
            
        }
        #send:hover{font-size:30px;}
        .fa-phone{color:green;
             font-size: 12px;
            transition:1s;}
        
        .botext{text-align:center;
        background-color: #0b0a14;
        color:antiquewhite;}
        .phone h2{padding:12px;
            transition:1s;
            font-size:8px;
        }
        .phone h2:hover{ width:34px;
        color:hsl(103, 86%, 51%);}
        .fa-phone:hover{color:green;
            font-size: 34px;}
            .botext h1{font-size:16px;}
            .botext h2{font-size:12px;}

    }

